[Unit]
Description = CirDB Service
After = network.target
StartLimitIntervalSec = 0

[Service]
SyslogIdentifier = cirdb
Type = simple
Restart = on-failure
RestartSec = 10
User = root
ExecStart = /spi40/services/cirdb/app start
ExecStop = /spi40/services/cirdb/app stop

[Install]
WantedBy = multi-user.target
